@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.centered {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -200px;
}

section {
    margin: 0 auto;
    text-align: center;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
}

button:focus {
  outline: none
}

button:hover {
  border-color: #346392;
  color: #346392;
}

button:active {
  border-color: #27496d;
  color: #27496d;
}

.topped {
    margin-top: 50px;
}

h1 {
    font-family: "Oswald", "Open Sans", sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

h3 {
    color: #999;
    font-size: 1.25rem;
}

a {
    text-decoration: inherit;
    color: #87ceeb;
}

a:hover {
    color: #549bb8;
}

footer {
    color: #999;
    font-size: .75rem;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
}

p {
    margin: 0 10%;
}

em {
    color: #f33;
}

