<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300|Oswald:300' rel='stylesheet' type='text/css'>
        <link href="css/index.css" rel="stylesheet" type="text/css">
        <title>Gosh Darn Quiz</title>
    </head>
    <body>
        <section class="centered">
            <h1>Gosh Darn</h1>
            <h3>Test how good you are at recognizing expletives in other languages.</h3>
            <button class="topped">Take the quiz</button>
        </section>
        <footer>
            <p><em>Warning:</em> This quiz includes offensive language which may be unsuitable for younger users.</p>
        </footer>

        <script src="//www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
